h4 { font-size: 38px; line-height: 0; margin-left: 114px; color: lightgray; margin-bottom: -22px;}
h1 { font-size: 102px; line-height: 0; border: none; }
h5 { font-size: 1.05em; line-height: 0.25em;}
h3 { text-decoration: underline; text-decoration-color: var(--border-color); }