/* FOOTER //////////////////////////////////////*/
/* prettier-ignore */
footer { 
    position: relative;
    padding-top: 0.5rem; 
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    height: 32px;
  }

/* CREDENTIALS //////////////////////////////////////*/
#cred {
  font-size: 0.5rem;
  align-self: center;
  margin-top: 1.5rem;
  margin-left: 0.6rem;
}
