/* GRAPH ELEMENTS ////////////////////////////////////////////*/
/* prettier-ignore */
.node circle { fill-opacity: 0.9; shape-rendering: geometricPrecision; cursor: pointer; }
/* prettier-ignore */
.node text { /*pointer-events: none;*/
    /* text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff; */
    font-family: 'Helvetica'; font-weight: bold; font-size: 13px; cursor: pointer;}
/* prettier-ignore */
.unlinked:hover { cursor: pointer; }
/* prettier-ignore */
.link { fill: none; /* stroke: #000; */ stroke-opacity: 0.25; }
/* prettier-ignore */
.link:hover { stroke-opacity: 0.5; }
.headline {
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
  height: 14px;
}
/* prettier-ignore */
.filler { flex-grow: 1; }
/* prettier-ignore */
#totalLinked {  position: relative; font-size: 12px; color: #ddd; z-index: -1; }
