/* QRCode //////////////////////////////////////*/

.imgContainer {
  width: 24px;
  height: 24px;
  z-index: 10;
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  padding: 0.2px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
#qrCode {
  position: relative;
  margin: 1px 1px;
  width: 14px;
  height: 14px;
}
