/* MEDIUM SCREEN //////////////////////////////////////*/
@media screen and (min-width: 40em) {
  /* prettier-ignore */
  article { display: grid; grid-template-columns:1fr; column-gap: 20px; }
  /* prettier-ignore */
  nav ul { display: flex;  }
  /* prettier-ignore */
  /*nav li { flex: 1; }*/
  /* prettier-ignore */
  .menu__btn {  right:4rem;}
}
