/* SMALL SCREEN //////////////////////////////////////*/
/* prettier-ignore */
* { box-sizing: border-box; margin: 0; padding: 0;}
/* prettier-ignore */
textarea, input { font-family: Helvetica, Arial, sans-serif; width: auto;}
/* prettier-ignore */
body { width: 90%; height: 100vh; margin: 0 auto; font: 13px Arial, Helvetica, sans-serif;}
/* prettier-ignore */
header { margin-bottom: 0.3em; border-bottom: 1px solid var(--border-color);}
/* prettier-ignore */
nav ul, aside ul { list-style: none; padding: 0; display:flex; align-items: center;justify-content: space-between;}
/* prettier-ignore */
nav li{ 
    /* border: 1px solid var(--border-color);  */
    text-decoration: none;  color: #333; padding:5px;}
/* prettier-ignore */
article { margin-bottom: 1em; }
/* prettier-ignore */
#d3-graph { height: 90vh; }